<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style type="text/css">
.container #dete h1,h2,h3,h4{
          font-family: 'Roboto', sans-serif;
}
 #win{
	color:green;
}
 #los{
	color:red;
}
#review{
	color:maroon;
}

#goal{
	color:#FF00D0;

}
#tiesa{
	color:#003366;
}

#played{
color:#1D00FF;
}

#tea{
	color:#AD9622;
}

</style>





<div class="container" id="dete">
<h1> FULL PERFORMANCE REPORT OF:" <span id="tea">{{statsdet.teamname}}</span>"</h1>
<h3>TEAM KEY:"<span id="tea">{{statsdet.data1}}"</h3>
<h1>TOTAL MATCHES PLAYED TILL 2017:<span id="played"> {{statsdet.total_matches_played}}</span></h1>
<h2>REVIEW:<span id="review">"{{statsdet.performance}}"</span></h2>
<h2>TOTAL WINS TILL 2017:<span id="win">{{statsdet.total_wins}}</span></h2>
<h2>TOTAL LOSS TILL 2017:<span id="los">{{statsdet.total_loss}}</span></h2>
<h2>TOTAL GOALS KICKED TILL 2017:<span id="goal">{{statsdet.total_goals}}</span></h2>
<h2>TOTAL TIES IN CARRER:<span id="tiesa">{{statsdet.total_ties}}</span></h2>
<h2>2017-16 performance:</h2>
<ul>
	<li><h3>MATCHES PLAYED:<span id="played">{{statsdet.matches_played17}}</span></h3></li>
	<li><h3>TOTAL GOALS KICKED:<span id="goal">{{statsdet.goals17}}</span></h3></li>
	<li><h3>TOTAL WINS IN 2016-17:<span id="win">{{statsdet.total_wins17}}</span></h3></li>
	<li><h3>TOTAL LOSS IN 2016-17:<span id="los">{{statsdet.total_losses17}}</span></h3></li>
	<li><h3>TOTAL TIES IN 2016-17:<span id="tiesa">{{statsdet.ties17}}</span></h3></li>

	<li><H3>MATCHES PLAYED AS<span id="los"> DEFENDER(at house)</span>:{{statsdet.matches_defender17}}</H3></li>

	<li><H4>MATCHES WON AS DEFENDER(house wins):<span id="win">{{statsdet.wins_defender17}}</span></H4></li>
	<li><H4>MATCHES LOSS AS DEFENDER(house loss):<span id="los">{{statsdet.loss_defender17}}</span></H4></li>

	<li><H3>MATCHES PLAYED AS<span id="win"> CHALLENGER:</span>{{statsdet.matches_challenger17}}</H3></li>

	<li><H4>MATCHES WON AS CHALLENGER:<span id="win">{{statsdet.wins_challenger17}}</span></H4></li>
	<li><H4>MATCHES LOSS AS CHALLENGER:<span id="los">{{statsdet.loss_challenger17}}</span></H4></li>
		
</ul>	

	



<h1>2015-16 performance:</h1>
<ul>
	<li><h3>MATCHES PLAYED:<span id="played">{{statsdet.matches_played16}}</span></h3></li>
	<li><h3>TOTAL GOALS KICKED:<span id="goal">{{statsdet.goals16}}</span></h3></li>
	<li><h3>TOTAL WINS IN 2015-16:<span id="win">{{statsdet.total_wins16}}</span></h3></li>
	<li><h3>TOTAL LOSS IN 2015-16:<span id="los">{{statsdet.total_losses16}}</span></h3></li>
	<li><h3>TOTAL TIES IN 2015-16:<span id="tiesa">{{statsdet.ties16}}</span></h3></li>

	<li><H3>MATCHES PLAYED AS<span id="los"> DEFENDER(at house):</span>{{statsdet.matches_defender16}}</H3></li>

	<li><H4>MATCHES WON AS DEFENDER(house wins):<span id="win">{{statsdet.wins_defender16}}</span></H4></li>
	<li><H4>MATCHES LOSS AS DEFENDER(house loss):<span id="los">{{statsdet.loss_defender16}}</span></H4></li>

	<li><H3>MATCHES PLAYED AS<span id="win"> CHALLENGER:</span>{{statsdet.matches_challenger16}}</H3></li>

	<li><H4>MATCHES WON AS CHALLENGER:<span id="win">{{statsdet.wins_challenger16}}</span></H4></li>
	<li><H4>MATCHES LOSS AS CHALLENGER:<span id="los">{{statsdet.loss_challenger16}}</span></H4></li>
		
	

</ul>	

</div>


	<a href="#/third">click here to go back</a>



